@{
    ViewBag.Title = "Home Page";
}

@model AzureSearch.Models.Answers

<br />

<h2>Base de conhecimento</h2>
<br />
<div class="row">

    @using (Html.BeginForm("SaveDocument", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <label>Titulo</label>
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Texto Explicativo</label>
            @Html.TextAreaFor(x => x.ExplainText, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Categoria</label>
            @Html.TextBoxFor(x => x.Tags, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-default">Enviar</button>
    }

</div>