
@{
    ViewBag.Title = "Pesquisar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IList<AzureSearch.Models.Answers>

@section scripts
{
    <script>
        $(function () {

            $("#searchText").autocomplete({
                minLength: 2,
                source: function (request, response) {
                    $.getJSON("https://azureseachdemoicatu.azurewebsites.net/Home/Suggest", {
                        term: request.term
                    }, function (data) {
                        response(data.Result);
                    });
                },
            });

        })
    </script>

}


<br />
<div class="row">



    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group col-lg-12">
            <label>Pesquisar</label>
            @Html.TextBox("searchText", null, htmlAttributes: new { @class = "form-control" })
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    }

    <br />
    <br />

    @if (Model != null)
    {
        foreach (var answers in Model)
        {
            <div class="media">
                <div class="media-body">
                    <h3 class="media-heading">@answers.Title</h3>
                    @answers.ExplainText
                    <div>
                        @foreach (var tag in answers.Tags)
                        {
                            <span class="label label-primary">@tag</span>
                        }
                    </div>
                    <br />
                    <div>
                        <label>Esse resultado foi útil?</label>
                        <div>
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;Gostei
                            </button>
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>&nbsp;Não Gostei
                            </button>
                        </div>
                        
                    </div>

                </div>
            </div>
        }
    }

</div>


